xmldtd.dtd

<?xml version="1.0" ?>

<!DOCTYPE tech_help_article [
<!ELEMENT tech_help_article (title,subject+,team+,troubleshooting)>
<!ELEMENT title (#PCDATA) #REQUIRED>
<!ELEMENT subject (Wifi|Wired|MyU|Accounts_and_Passwords|Websites|Email|General) #REQUIRED>
<!ELEMENT team (Tier1|Tier2|Tier3|Engineers|Management)>
<!ELEMENT troubleshooting (#PCDATA) #REQUIRED>
<!ATTLIST troubleshooting type (general practice|how-to|known error|escalation) #REQUIRED>
]>
 
